[Unit]
Description=Runner daemon to process PDU requests
After=postgresql.service lavapdu-listen.service

[Service]
ExecStart=/usr/sbin/lavapdu-runner -j
Type=forking
PIDFile=/var/run/lavapdu-runner.pid

[Install]
WantedBy=network.target
