[Unit]
Description=Runner daemon to process PDU requests
After=postgresql.service

[Service]
ExecStart=/usr/sbin/lavapdu-runner
Type=forking
PIDFile=/var/run/lavapdu-runner.pid

[Install]
WantedBy=network.target
