[Unit]
Description=TCP Listening daemon to accept PDU requests
After=postgresql.service

[Service]
ExecStart=/usr/sbin/pdudaemon-listen -j
Type=forking
PIDFile=/var/run/pdudaemon-listen.pid

[Install]
WantedBy=network.target
