[Unit]
Description=Control and Queueing daemon for PDUs

[Service]
ExecStart=/usr/sbin/pdudaemon --journal --conf=/etc/pdudaemon/pdudaemon.conf
Type=simple
DynamicUser=yes
StateDirectory=pdudaemon
ProtectHome=true
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
