[Unit]
Description=Control and Queueing daemon for PDUs

[Service]
ExecStart=/usr/sbin/pdudaemon --journal --dbfile=/var/lib/pdudaemon/pdudaemon.db --conf=/etc/pdudaemon/pdudaemon.conf
Type=simple
Restart=on-abnormal

[Install]
WantedBy=network.target
