name: Run lint
on: [push, workflow_dispatch, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install pre-commit
      run: pip install pre-commit

    - name: Run pre-commit on all files
      run: pre-commit run --all-files --show-diff-on-failure

    - name: Cache the pre-commit plugins
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('**/.pre-commit-config.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pre-commit-
