name: Run tests
on: [push, workflow_dispatch, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Build container
        run: docker build -t pdudaemon-ci -f Dockerfile.dockerhub .
      - name: Run pytest
        run: docker run -v $(pwd):/p -w /p pdudaemon-ci /root/.local/bin/pytest
      - name: Run functional tests
        run: docker run -v $(pwd):/p -w /p pdudaemon-ci sh -c "./share/pdudaemon-test.sh"
